gocc/pkg/*
gocc/src/github.com/tharindupr/fabcar/vendor/*
gocc/src/github.com/tharindupr/access_control/vendor/*
gocc/src/github.com/tharindupr/policy_contract/vendor/*
gocc/src/github.com/tharindupr/asset_management/vendor/*
gocc/src/github.com/tharindupr/access_control_v2/vendor/*
gocc/src/github.com/tharindupr/dec/vendor/*
gocc/src/github.com/tharindupr/identity/vendor/*
gocc/src/github.com/tharindupr/kpis/vendor/*
gocc/src/github.com/tharindupr/models/vendor/*
gocc/src/github.com/golang/*
gocc/src/github.com/hyperledger/*
network/bin/logs/*
.vagrant/*
api/node_modules/*
node_modules/*
node_modules
BasicNetwork-2.0/*
ContainerisingCaliperForFabricBenchmark/*